<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.medical.research.mapper.ExperimentPlanMapper">
    <select id="selectPlanPage" parameterType="com.medical.research.dto.ExperimentPlanReqDTO"
        resultType="com.medical.research.entity.ExperimentPlan">
        SELECT * FROM experiment_plan
        WHERE 1=1
        <if test="req.experimentNo != null and req.experimentNo != ''">
            AND experiment_no LIKE CONCAT('%', #{req.experimentNo}, '%')
        </if>
        <if test="req.planName != null and req.planName != ''">
            AND plan_name LIKE CONCAT('%', #{req.planName}, '%')
        </if>
        <if test="req.status != null ">
            AND status = #{req.status}
        </if>
        ORDER BY create_time DESC
        LIMIT #{req.pageSize} OFFSET #{req.offset}
    </select>
    <select id="selectPlanCount" resultType="java.lang.Long">
        SELECT count(1) FROM experiment_plan
        WHERE 1=1
        <if test="req.experimentNo != null and req.experimentNo != ''">
            AND experiment_no LIKE CONCAT('%', #{req.experimentNo}, '%')
        </if>
        <if test="req.planName != null and req.planName != ''">
            AND plan_name LIKE CONCAT('%', #{req.planName}, '%')
        </if>
        <if test="req.status != null ">
            AND status = #{req.status}
        </if>
    </select>
</mapper>